.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table {
    border-collapse: collapse;
}

.tableContainer {
    max-height: 300px;
    overflow: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnBox {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.title {
    margin: 10px 0;
}

.icon {
    cursor: pointer;
}