.form {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    gap: 5px;
}

.table {
    border-collapse: collapse;
}


.tableContainer {
    max-height: 300px;
    overflow: auto;
}

.inputPedido {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

.icon {
    cursor: pointer;
}